<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuwaca</title>
    <link rel="stylesheet" href="/styles/partials.css">
    <link rel="stylesheet" href="/styles/content.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <!-- Nav -->
    <header class="nav" id="nav">
        <section class="list">
            <ul class="navbar">
                <li>CUWACA</li>
            </ul>
        </section>
    </header>